  h1 {
      color: white;
      text-align: left;
      font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
      background-color: #4aaaa5;
      padding: 10px;
      float: left;
      font-size: 36px;
  }

.headClass {
    width: 100%;
    background-color:#ebebeb;
    height:56px;
    border: 1px;
    border-color: #4aaaa5;
    align-self: center;
    position:fixed;
    border-bottom: 2px solid grey;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    text-decoration: none;
    text-align: right;
    float: right;

}

.me {
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    float:left;
    font-size: 18px;
}

br {
    clear: both;
}

.pageTitle {
color: #4aaaa5;
font-size: 30px;
text-align: left;
}

.bodyClass {
    background-image: url("../../images/light-grey-terrazzo.png");
    /* Background pattern from Toptal Subtle Patterns */
}

#nav {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: right;
    float: right;
    padding-top: 20px;
}

a hover {
    background-color: #555;
    color: white;
}

#container {
    width: 495px;
    background:#ffffff;
    float:center;
    margin: 0 auto; 
    color: #fff;
    min-height: 100%;
    border: 2px solid #ffffff;
    padding: 20px;
}

.line {
    width:100%; 
    height:1px; 
    color: #777
}

.about {
    float:left;
    color:#777;
    size: 18px;
}

.headWidth {
    width: 495px;
}

.button {
background-color:  #4aaaa5;
color:#fff;
padding: 10px 20px 10px 20px;
}

.formContainer {
width: 495px;
float: left;
}

.fields [type=text], select, textarea{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px; 
    border: 1px solid #777; 
    color: #777;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    align-content: left;
    width:493px;
}

.labelClass {
    font-size: 18px;
    text-align: left;
    color:#777;
    font-family: Arial, Helvetica, sans-serif;
}

#photo1 {
    position:relative;
    top: 10px;
    float: left;
}

#photo2 {
    position: relative;
    top: 10px;
    left: 20px;
    float: left;
}

#photo3 {
    position: relative;
    top: 20px;
    float: left;
}

#photo4 {
    position: relative;
    top: 20px;
    left: 20px;
    float: left;
}

#photo5 {
    position: relative;
    top: 20px;
    float: left;
}

.labelPhoto {
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    background: #4aaaa5;
    color: #ebebeb;
    text-align: center;
    font-size: 18px;
    bottom: 15px;
    width:195px;
    padding: 15px;
    position: absolute;

}

footer{
    font-family: Arial, Helvetica, sans-serif;
    color: #ebebeb;
    width: 100%;
    background-color:#777;
    bottom: 0;
    position: absolute;
    text-align: center;
    height: 40px;
    border-top: 5px solid #4aaaa5;
    font-size: 10px;
    margin-top: -45px;
    clear:both;
}