.about {
    float:left;
    color:#777;
    size: 18px;
}

.anav {
    color: #777;
    text-decoration: none;
    padding: 1px;
}

article {
    padding-bottom: 20px;
}

.bodyClass {
    background-image: url("../../images/light-grey-terrazzo.png");
    /* Background pattern from Toptal Subtle Patterns */
}

br {
    clear: both;
}

.button {
background-color:  #4aaaa5;
color:#fff;
padding: 10px 20px 10px 20px;
}

#container {
    background:#ffffff;
    border: 2px solid #ffffff;
    color: #fff;
    float:center;
    margin: 0 auto; 
    min-height: 100%;
    padding: 20px;
    width: 960px;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    float: left;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    font-size: 36px;
    padding: 10px;
    text-align: left;
  }

.headClass {
    align-self: center;
    background-color:#ebebeb;
    border: 1px;
    border-bottom: 2px solid grey;
    border-color: #4aaaa5;
    color: #777;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    height:56px;
    position:fixed;
    text-decoration: none;
    text-align: right;
    width: 100%;

}

a:hover {
    background-color: #4aaaa5;;
    color: white;
}

.line {
    color: #777;
    height:1px; 
    width:100%; 
}

.formContainer {
    background:#ffffff;
    border: 2px solid #ffffff;
    color: #fff;
    float:center;
    margin: 0 auto; 
    min-height: 100%;
    padding: 20px;
    width: 960px;
}

.fields [type=text], select, textarea{
    align-content: left;
    border: 1px solid #777; 
    border-radius: 4px; 
    box-sizing: border-box; 
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    width: 960px;
}

#headWidth {
    margin-left: 6%;
    width: 80%;
}

.labelClass {
    color:#777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
}

.labelPhoto {
    background: #4aaaa5;
    bottom: 15px;
    color: #ebebeb;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    font-size: 18px;
    padding: 15px;
    position: absolute;
    text-align: center;
    width:195px;
}

.me {
    float:left;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 200px;
}

#nav {
    color: #777;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    text-decoration: none;
    text-align: right;
}

.pageTitle {
    color: #4aaaa5;
    font-size: 30px;
    text-align: left;
    width: 960px;
}

#photo1 {
    float: left;
    margin: 10px;
    position:relative;
}

#photo2 {
    float: left;
    margin: 10px;
    position: relative;
}

#photo3 {
    position: relative;
    margin: 10px;
    float: left;
}

#photo4 {
    float: left;
    margin: 10px;
    position: relative;
}

#photo5 {
    float: left;
    margin: 10px;
    position: relative;
    /* I know this Lorem Pixel photo looks like a killer girl from a horror movie but I still kelp it. */
}

footer{
    background-color:#777;
    border-top: 5px solid #4aaaa5;
    bottom: 0;
    clear:both;
    color: #ebebeb;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: -45px;
    position: absolute;
    text-align: center;
    width: 100%;
}